body {

    height : 100%;
    width: 100%;
    background-color: lightcoral;
    
    

}


h1{

    background-color:red;
    margin-left: 30%;
    margin-right:30%;
    border-radius: 20px;
}

.dropdown-button{
    align-items: center;
    padding:40px;
    text-align:center;
    font-size: 25px;
    border:none;
    border-radius: 30px;
    cursor:pointer;
}
.button-container{
    text-align:center;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;

}


div.meow{

    display:none;
    margin-left: 38rem;
    margin-right:38rem;
    background-color:lightblue;

    
    
   
}
.meow a{
    text-decoration: none;
    color:black;
    padding: 11px 12px;
    display:block;
}

.meow a:hover{
    background-color:rgb(6, 154, 223); 
}
.dropdown:hover .meow{
    display:block;
}


div.bow{
    text-align: center;
    background-color: red;
    border-radius: 20px;
    margin-left: 32rem;
    margin-right:34rem;
    display: flex;
    align-items:flex-start;
    

}
div.roar{
    text-align: center;
    background-color: red;
    margin-left: 43rem;
    margin-right:43rem;
    border-radius: 20px;
    display: flex;
    align-items:flex-start;
    

}
div.triumph{
    text-align: center;
    background-color: red;
    margin-left: 43rem;
    margin-right:44rem;
    border-radius: 20px;
    display: flex;
    align-items:flex-start;
    

}
div.button{
    text-align: center;
    
    
    

}
